/*----------------MIXINS---------------------*/

.flex-parent-display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-parent-flex-direction(@direction) {
    flex-direction: @direction;
    -webkit-flex-direction: @direction;
    -ms-flex-direction: @direction;
}

.flex-parent-flex-wrap(@wrap) {
    -webkit-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}

.flex-parent-align-start {
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.flex-parent-align-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.flex-parent-align-end {
    -webkit-align-content: end;
    -ms-flex-line-pack: flex-end;
    align-content: flex-end;
}

.flex-parent-justify-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-parent-justify-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-parent-justify-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.flex-parent-justify-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-child-flex-order(@order) {
    -webkit-order: @order;
    -ms-flex-order: @order;
    order: @order;
}

.flex-child-flex(@value) {
    -webkit-flex: @value;
    -ms-flex: @value;
    flex: @value;
}

.flex-child-align-self(@value) {
    -ms-flex-item-align: @value;
    -ms-grid-row-align: @value;
    align-self: @value;
}


/*----------------VARIABLES---------------------*/

@pageMainMaxWidth: 100%;
@leftMenuWidth: 350px;
@backgroundColor: #201c2b;
@colorLowFocus: #898395;
@themeColor1: #dad8de;
@themeColorHover: #faf9fa;
@themeColor2: #e384a6;
@themeColor3: #f4d499;
@themeColor4: #4d90d6;
@themeColor5: #c7e38c;
@themeColor6: #9986c8;
@themeColor7: #edf28c;
@themeColor8: #ffd1d4;
@themeColor9: #5ee1dc;
@themeColor10: #b0eead;
@themeColor11: #fef85a;
@themeColor12: #8badd2;
//font mixin
.font-settings {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
}

html {
    font-size: 10px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 2rem;
    background-color: @backgroundColor;
}

.list-container ul {
    margin: 0;
    padding: 0 5px 0 5px;
    width: 100%;
    list-style-type: none;
}

.list-item {
    .flex-parent-display-flex;
    .flex-parent-flex-direction(row);
    .flex-parent-justify-end;
    width: 100%;
}

.buttons {
    .flex-parent-display-flex;
    .flex-parent-flex-direction(row);
    .flex-parent-align-center;
    .flex-parent-flex-wrap(wrap);
    width: 100%;
}

.buttons > input {
    .flex-child-flex(1);
    font-size: 16px;
}

.list-item p {
    font-size: 16px;
    padding: 0 5px 0 5px;
    margin: 2px;
}

.list-item > .item-id {
    border-radius: 50%;
    width: 10px;
    height: 20px;
    text-align: center;
}

.list-item > .title-label {
    .flex-child-flex(1);
    color: @themeColor1;
    min-width: 0;
}

.list-item > .category-label {
    font-style: italic;
    color: @colorLowFocus;
}

.list-item > .title-label:hover {
    cursor: pointer;
    color: @themeColorHover;
}

.list-item > .category-label:hover {
    cursor: pointer;
    color: @themeColorHover;
}

.content-container {
    .flex-parent-display-flex;
    .flex-parent-flex-direction(column);
    .flex-child-flex(1);
    background-color: #FFFFFF;
    padding: 0;
    margin: 5px;
    overflow-y: auto;
    font-size:16px;
}

.content-button {
    display: block;
    margin: 5px;
    min-height: 40px;
}

.category-drop {
    margin: 5px;
    min-height: 40px;
    font-size: 16px;
}

.content {
    .font-settings;
    width: @pageMainMaxWidth;
    margin: 0;
    padding: 0;
    height: 100vh;
    .flex-parent-display-flex;
    .flex-parent-flex-direction(row);
    .flex-parent-flex-wrap(wrap);
}

.map-container {
    width: ~"calc(100% - 350px)";
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-error {
    color: @themeColor1;
    font-size: 16px;
}

.left-menu {
    padding: 0;
    margin: 0;
    width: @leftMenuWidth;
    .flex-parent-display-flex;
    .flex-parent-flex-direction(column);
}

.list-container {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    .flex-parent-display-flex;
    .flex-parent-flex-wrap(wrap);
    .flex-parent-align-start;
}

.result-container {
    padding: 0;
    margin: 0;
    width: 100%;
    .flex-parent-display-flex;
    .flex-parent-flex-direction(column);
    .flex-parent-flex-wrap(wrap);
    .flex-child-flex(1);
    .flex-parent-align-start;
}

hr {
    border: 0;
    background-color: @themeColor1;
    opacity: 0.5;
    margin: 5px;
    height: 1px;
}

.result-title {
    color: @themeColor1;
    padding: 0 10px 0 10px;
}

.yelp-item {
    .flex-parent-display-flex;
    .flex-parent-flex-direction(row);
}

.yelp-item > * {
    .flex-child-align-self(center);
    padding: 5px;
    margin: 0;
}

.yelp-item > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.attribution > p {
    font-style: italic;
    font-size: 12px;
}

@media screen and (max-width:700px) {
    .content {
        .flex-parent-flex-direction(column);
        height: auto;
    }
    .map-container {
        width: 100%;
        height: 50vh;
        .flex-child-flex-order(1);
    }
    .left-menu {
        width: 100%;
        height: auto;
        .flex-parent-flex-direction(column);
        .flex-child-flex-order(2);
    }
    .content-container {
        height: 250px;
    }
    .category-drop {
        .flex-child-flex-order(1);
    }
    .result-container {
        .flex-child-flex-order(2);
    }
    .list-container {
        .flex-child-flex-order(3);
    }
}
